@use "src/scss/base/colors" as *;
@use "src/scss/base/breakpoints" as *;
@use "src/scss/fonts" as *;
@use "../brand-widget/brand-widget";
@use "../bonuses/welcome-bonus";


@mixin popup-single-brand-mobile($self) {
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  #{$self}__title {
    margin-bottom: 0;
    align-self: flex-start;
  }

  #{$self}__text {
    margin-bottom: 0;
  }

  #{$self}__buttons {
    width: 100%;
  }

  #{$self}__aside {
    width: 100%;
    flex: 1 1;
  }

  #{$self}__brand {

    @media (min-width: $tablet) {
      margin: 0 auto;
      max-width: 373px;
    }

    &.brand-widget {
      padding: 0 8px 8px;

      &__title {
        padding: 5px 8px;
      }
    }

    .highlights {

      & > *:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    .welcome-bonus {
      padding: 10px;
    }
  }
}

@mixin popup-single-brand-desktop($self) {
  flex-direction: column;

  #{$self}__content {
    gap: 24px;
  }

  #{$self}__brand {
    max-width: 373px;
    margin: 0 auto;
  }
}

@mixin popup-text-image($self) {
  flex-direction: column;
  padding-top: 42px;
  gap: 8px;

  @media (min-width: $tablet) {
    padding-top: 0;
  }

  @media (max-width: $tablet) {
    #{$self}__content {
      order: 1;
    }

    #{$self}__aside {
      order: 0;
    }
  }
}

@mixin popup-image($self) {

  #{$self}__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin popup-primary($self) {
  background-color: $primary-600;

  #{$self}__cross {
    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.popup {
  $self: &;
  padding: 16px;
  max-width: 416px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  position: relative;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: auto;

  @media (min-width: $tablet) {
    height: auto;
    overflow-y: visible;
    max-width: 1000px;
  }

  &_primary {
    @include popup-primary($self);
  }

  &_secondary {
    background-color: $gray-100;
  }

  &_brand-widget_mobile {
    @include popup-single-brand-mobile($self);
  }

  &_brand-widget_desktop {
    @include popup-single-brand-desktop($self);
  }

  &_text-image {
    @include popup-text-image($self);
  }

  &_image {
    @include popup-image($self);
  }

  @media (min-width: $tablet) {
    padding: 32px;
    flex-direction: row;
    gap: 64px;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 14px;
    box-sizing: content-box;
    cursor: pointer;

    svg {
      display: block;
    }
  }

  &__content, &__aside {
    @media (min-width: $tablet) {
      flex: 1 1;
    }
  }

  &__title {
    @include display-xs-semibold;
    margin-bottom: 16px;
    color: var(--title-color, $gray-900);
    max-width: 85%;

    @media (min-width: $tablet) {
      @include display-md-semibold;
      max-width: none;
    }
  }

  &__text {
    @include text-md-regular;
    color: var(--text-color, $gray-700);
    margin-bottom: 16px;

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }

    ul {
      padding-left: 13px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }

  &__button {
    padding: 12px;
    flex: 1 1;

    &.dbutton_custom:first-child {
      background-color: var(--button-background);
      color: var(--button-color);
    }

    &.dbutton_custom:last-child {
      background-color: var(--button-background-2);
      color: var(--button-color-2);
    }
  }
}
