@mixin cg-button($bg, $color, $bg-hover) {
    padding: 12px 48px;
    text-align: center;
    background-color: $bg;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    position: relative;

    &:hover {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-hover;
            transition: 250ms all ease-in-out;
        }
    }

    &__text {
        color: $color;
        position: relative;
        z-index: 1;
    }
}

@mixin absolute-top-center-horizontal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin image-in-block {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@mixin flex-column-center ($c-gap, $r-gap) {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: $c-gap;
    row-gap: $r-gap;
}

@mixin flex-center ($c-gap, $r-gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: $c-gap;
    row-gap: $r-gap;
}

@mixin cg-sect-pic-border-color ($color) {
    background: $color;
}

@mixin flex-center ($c-gap, $r-gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: $c-gap;
    row-gap: $r-gap;
}