.wp-block-create-block-gutenpride {
	border: 1px dotted #f00;
}

.is-root-container {
	.cg-heroscreen {
		display: flex;
		flex-direction: column;
		align-items: center;
		column-gap: 0;
		row-gap: 20px;
		padding: 125px 32px;
		background: #663a54;
		height: 500px;
	}

	.cg-bage {
		display: flex;
		justify-content: center;
		z-index: 1;
	}
}
