$black: #000;
$white: #FFF;
$light-gray: #F1F1F1;
$cg-red:#D02E4B;
$cg-grey:#F7F7F7;
$cg-text-grey:#344054;
$cg-title:#101828;
$cg-maroon:#681524;
$cg-green:#0F7B5B;
$cg-dark-green:#1B5745;
$cg-grey-border:#EAECF0;
$cg-var-color: --color;

:root {
    --black: #{$black};
    --white: #{$white};
    --cg-red: #{$cg-red};
    --cg-grey: #{$cg-grey};
    --cg-text-grey: #{$cg-text-grey};
    --cg-title: #{$cg-title};
    --cg-maroon: #{$cg-maroon};
    --cg-green: #{$cg-green};
    --cg-dark-green: #{$cg-dark-green};
    --cg-grey-border: #{$cg-grey-border};
}
