//@use "../../partials/gutenberg-blocks/cg-button/editor";
//@use "../../partials/gutenberg-blocks/cg-button/style";

@use '../scss/base/fonts';

//@import "base/fontello";

@import "base/defaults";
@import "base/body";
@import "base/body-changed-colors";
@import "base/image-func";




// Blocks

@import 'blocks/cg-section/cg-section';

@import 'blocks/cg-faq-sect/cg-faq-sect';
@import 'blocks/cg-faq/cg-faq';

@import 'blocks/cg-welcome-sect/cg-welcome-sect';



// Gutenberg
@import 'cg-description/cg-description';



@import "acf-blocks/media-text";
@import "acf-blocks/brand-table/brand-table";
@import "acf-blocks/brand-table/simple-brand-table";
//@import "acf-blocks/section-tag";
//@import "acf-blocks/hidden-text";
@import "acf-blocks/single-brand";
@import "acf-blocks/link-block";
@import "acf-blocks/toc";
@import "acf-blocks/howto";
@import "acf-blocks/gallery";
@import "acf-blocks/icon-block";
@import "acf-blocks/reviews-rating";


@import "container";
@import "site-button";
@import "page-header";
@import "primary-nav";
@import "flags-widget";
@import "burger";
@import "header-mobile-buttons";
@import "video";
@import "table-rating";
@import "pros-list";
@import "site-table";
@import "breadcrumbs";
@import "wp-block-table";
@import "header-panel";
@import "author-section";
@import "posts";
@import "wp-block-columns";
@import "404";
@import "bonus-button";
@import "header-bonus";
@import "image_iframe";
@import "tabs-control";
@import "reviews";
@import "native-slider";
@import "banner";
//@import "popup/popup-wrapper";
//@import "slide-panel/slide-panel";


// ACF Blocks
@import "acf-blocks/feedback-form";
@import "acf-blocks/matches-cards";

@import "page-footer";
@import "footer-column";
@import "social-list";
@import "comments";
@import "feedbacks";
@import "author-badge";
@import "top-button";
@import "footer-copyright";
@import "mobile-button/mobile-button";
@import "wpml";
@import "rating";
@import "acf-blocks/terms-list";
@import "author-badge-top";

@import "wp-block-buttons";


body {
  margin: 0;
}

.container {
  max-width: 1238px;
  padding: 48px 64px;
  margin: 0 auto;

  @media (max-width: 450px) {
    padding: 32px 16px;
  }
}

h1 {
  @include fonts.title-h1 (var(--color));
  margin: 0 auto;
  max-width: var(--max-width);
}

h2 {
  @include fonts.title-medium (var(--color));
  margin: 0 auto;
  max-width: var(--max-width);
}
