.section-tag {
  padding: 2rem 0;
  background-color: var(--background-color);
  overflow: hidden;

  @media (max-width: 650px) {
    padding: 1rem 0;
  }

  & .section-tag {
    padding: 1rem 0 0;
  }

  &_breadcrumbs {
    padding-top: 10px;
  }
}
